<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
    <style>
        div{
    text-align: center;
    background-color: rgb(104, 86, 86);
}
table{
    border-collapse: collapse;
}
td{
    height:50px;
    width: 50px;
    margin: 0px;
    
}
.color1{
    background-color: #495c29;
    background-color: {{color1}};
}
    

.color2{
    background-color: #ffffe0;
    background-color: {{color2}};
}
    </style>
</head>
<body>
    <div>
        <h1>welcome to the board, the dimensions are:{{rows}}*{{columns}}</h1>
        <table>
            {% for i in range(rows) %}
                <tr>
                {% for j in range(columns) %}
                    <!-- <td class="color{{(i+j)%2+1}}"></td> -->
                    <td class="color{{(i+j)%2+1}}"></td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>